@use '../../../styles/abstracts/variables' as *;

.badge-label {
    padding: 0.125rem 0.625rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;

    &.badge-article {
        background-color: $navy;
        color: $white;
    }

    &.badge-note {
        background-color: $slate-100;
        color: $slate-800;
    }

    &.badge-recap {
        background-color: $light-blue;
        color: $white;
    }
}