@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.btn-primary {
    @include btn-primary;
}

.btn-outline {
    @include btn-outline;
}

.section-title {
    position: relative;
    font-size: 1.875rem;
    font-weight: 800;
    margin-bottom: 3rem;
    display: inline-block;

    @include desktop {
        font-size: 2.25rem;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 6rem;
        height: 0.25rem;
        background-color: $medium-blue;
        border-radius: 9999px;
    }
}

.container {
    @include container;
}